<section class="clients">
    <div class="clients-container">
        <h2 class="clients-title">Нам довіряють</h2>
        <ul class="clients-list">
            <li class="clients-list__item">
                <img src="./images/icons-logos/Remak.png" alt="Ремак">
            </li>
            <li class="clients-list__item">
                <img src="./images/icons-logos/Reflex.png" alt="Ремак">
            </li>
            <li class="clients-list__item">
                <img src="./images/icons-logos/KG Elektronik.png" alt="Ремак">
            </li>
            <li class="clients-list__item">
                <img src="./images/icons-logos/Kermi.png" alt="Ремак">
            </li>
        </ul>
    </div>
</section>