<section class="clients">
    <div class="clients-container">
        <h2 class="clients-title">Нам довіряють</h2>
        <div id="img-slider" class="splide">
            <div class="splide__track">
                <ul class="clients-list splide__list">
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Remak.png" alt="Ремак">                        
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Reflex.png" alt="Рефлекс">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/KG Elektronik.png" alt="Електронік">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Kermi.png" alt="Кермі">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Remak.png" alt="Ремак">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Reflex.png" alt="Рефлекс">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/KG Elektronik.png" alt="Електронік">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Kermi.png" alt="Кермі">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Remak.png" alt="Ремак">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Reflex.png" alt="Рефлекс">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/KG Elektronik.png" alt="Електронік">
                    </li>
                    <li class="clients-list__item splide__slide">
                        <img src="./images/icons-logos/Kermi.png" alt="Кермі">
                    </li>
                </ul>
            </div>
        </div>        
    </div>
</section>