<footer id="js-foot" class="footer">
    <div class="footer-container">        
        <img class="footer-logo" src="./images/icons-logos/footer-logo.png" alt="Логотип">
        <ul class="footer-list">
            <li class="footer-list__item"><a class="footer-list__link" href="">Компанія</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">Продукція</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">Рішеня</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">Підтримка</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">Питання та відповіді</a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">Контакти</a></li>
        </ul>
        <ul class="footer-social">
         <li class="footer-social__item">
            <svg class="footer-social__icon facebook">
                <use href="./images/sprite/symbol-defs.svg#icon-facebook"></use>
            </svg>
         </li>
         <li class="footer-social__item">
            <svg class="footer-social__icon youtube">
                <use href="./images/sprite/symbol-defs.svg#icon-youtube"></use>
            </svg>
         </li>
        </ul>
        <p class="footer-copyright">© TREVENT, 2019. Дизайн розробляли ONCA</p>
    </div>
</footer>