<header class="header">
    <div class="header-container">
        <div class="header-info__container">
<div class="header-logo">
    <img src="./images/icons-logos/logo.png" alt="Основне лого">
</div>
<div class="header-contacts">
    <img class="header-contacts__icon" src="./images/icons-logos/phone.png" alt="Іконка телефону">
    <div class="header-contacts__inner">
        <p class="header-contacts__inner__text">Графік роботи: 09:00-18:00</p>
        <select name="phone" class="phone-select" ria-label="Вибір телефону">
            <option value="">(098) 86 900 25</option>
            <option value="">(093) 86 900 25</option>
            <option value="">(095) 86 900 25</option>
        </select>
    </div>
</div>
<div class="header-language">
    <img src="./images/icons-logos/ua.png" alt="Мова">
    <select class="language-select" name="language" id="" aria-label="Перемикач мови">
        <option value="">UA</option>
        <option value="">RU</option>
        <option value="">EN</option>
    </select>

</div>
        </div>
        
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item"><a class="header-nav__link" href="">Головна</a></li>
                <li class="header-nav__item"><a class="header-nav__link" href="">Компанія</a></li>
                <li class="header-nav__item" ><a class="header-nav__link" id="js-prod-button"  href=""><span>Продукція</span>
                <svg class="header-nav__icon__arrow">
                    <use href="./images/sprite/symbol-defs.svg#icon-arrow_down"></use>
                </svg>
                </a></li>
                <li class="header-nav__item"><a class="header-nav__link" href=""><span>Підтримка</span>
                <svg class="header-nav__icon__arrow">
                    <use href="./images/sprite/symbol-defs.svg#icon-arrow_down"></use>
                </svg>
                </a></li>
                <li class="header-nav__item"><a class="header-nav__link" id="js-cont-button" href="">Контакти</a></li>
                <li class="header-nav__item"><button class="header-nav__button"><span>Пошук</span>
                    <svg class="header-nav__icon">
                        <use href="./images/sprite/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button></li>
            </ul>
            
        </nav>
    </div>
</header>