<section class="slider">    
    <div class="slider-container">
        <div id="image-slider" class="splide">
            <div class="splide__track">
                <ul class="slider-container__list splide__list">
                    <li class="slider-container__item splide__slide"><img class="slider-background" src="./images/header/bgMainPaint.png"
                            alt="Основне фото"></li>
                    <li class="slider-container__item splide__slide"><img class="slider-background" src="./images/header/bgMainPaint.png"
                            alt="Основне фото"></li>
                    <li class="slider-container__item splide__slide"><img class="slider-background" src="./images/header/bgMainPaint.png"
                            alt="Основне фото"></li>
                    <li class="slider-container__item splide__slide"><img class="slider-background" src="./images/header/bgMainPaint.png"
                            alt="Основне фото"></li>
                
                </ul>
            </div>        
        </div>
                        
        <div class="slider-info__container">
        <h1 class="slider-title"><span>Промислове</span><br>Кліматичне обладнання</h1>
        <p class="slider-info">Працює з кращими постачальниками комплектуючих
            з усього світу, розробляє обладнання стандартного і
            не стандартного виконання.</p>
        <button class="slider-button">Детальніше</button>
        </div>
        <div class="slider-advantages__container">
        <ul class="slider-advantages__list">
            <li class="slider-advantages__item">
                <img src="./images/icons-logos/quality.png" alt="Якість">
                <h3>Якість</h3>
                <p>Обладнання складається
                з комплектуючих
                європейського рівня.</p>
            </li>
            <li class="slider-advantages__item">
                <img src="./images/icons-logos/guarantee.png" alt="Якість">
                <h3>Гарантія</h3>
                <p>Продукти Trevent мають
                24 місяці гарантії.</p>
            </li>
            <li class="slider-advantages__item">
                <img src="./images/icons-logos/support.png" alt="Якість">
                <h3>Підтримка</h3>
                <p>Кваліфікований персонал
                завжди готовий допомогти.</p>
            </li>
            <li class="slider-advantages__item">
                <img src="./images/icons-logos/technologies.png" alt="Якість">
                <h3>Технологія</h3>
                <p>Використовуються сучасні
                технології та матеріали.</p>
            </li>
        </ul>
        </div>        
    </div>
</section>