<main class="production" id="js-prod">
    <div class="production-container">
        <h2 class="production-title">ПРОДУКЦІЯ</h2>
        <p class="production-info">Використання електрики в якості джерела нагріву отримало свою популярність в деяких випадках. Такі рішення застосовують
        для реалізації системи опалення в умовах, де немає можливості підключення традиційного теплоносія (води) або де системи
        опалення планується використовувати тимчасово.</p>
        <ul class="production-list">
            <li class="production-list__item product-1">
                <h3 class="production-list__item__title">Електричний нагрів</h3>
                <div class="production-list__item__inner">
                    <img class="production-list__icon" src="./images/icons-logos/electric.png" alt="">
                    <div class="production__item__info">
                        <h3 class="production-list__title">ЕЛЕКТРИЧНИЙ НАГРІВ</h3>
                        <p class="production-list__info">Використання електрики в якості
                            джерела нагріву отримало власну
                            популярність в деяких випадках.</p>
                        <button class="production-list__button">ДЕТАЛЬНІШЕ</button>
                    </div>
                </div>                           
            </li>
            <li class="production-list__item product-2">
                <h3 class="production-list__item__title">Водяні теплоносії</h3>
                <div class="production-list__item__inner">
<img class="production-list__icon" src="./images/icons-logos/electric.png" alt="">
<div class="production__item__info">
    <h3 class="production-list__title">Водяні теплоносії</h3>
    <p class="production-list__info">Використання електрики в якості
        джерела нагріву отримало власну
        популярність в деяких випадках.</p>
    <button class="production-list__button">ДЕТАЛЬНІШЕ</button>
</div>
                </div>
                
            </li>
            <li class="production-list__item product-3">
                <h3 class="production-list__item__title">Повітряні завіси</h3>
                <div class="production-list__item__inner">
                    <img class="production-list__icon" src="./images/icons-logos/electric.png" alt="">
                    <div class="production__item__info">
                        <h3 class="production-list__title">Повітряні завіси</h3>
                        <p class="production-list__info">Використання електрики в якості
                            джерела нагріву отримало власну
                            популярність в деяких випадках.</p>
                        <button class="production-list__button">ДЕТАЛЬНІШЕ</button>
                    </div>
                </div>
                
            </li>
            <li class="production-list__item product-4">
                <h3 class="production-list__item__title">Камери припливу</h3>
                <div class="production-list__item__inner">
                    <img class="production-list__icon" src="./images/icons-logos/electric.png" alt="">
                    <div class="production__item__info">
                        <h3 class="production-list__title">Камери припливу</h3>
                        <p class="production-list__info">Використання електрики в якості
                            джерела нагріву отримало власну
                            популярність в деяких випадках.</p>
                        <button class="production-list__button">ДЕТАЛЬНІШЕ</button>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
</main>